@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row m-5">
        @RenderBody()
    </div>
</div>

@section Head{

    <link href="~/css/AdminManage.css" rel="stylesheet" />


}
@section Scripts{
    <script src="~/js/AdminManage.js"></script>
}